.sectionHeading {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 12px;
    cursor: pointer;
}
  
.activeSection {
    background-color: #EDF2F7;
    border-bottom: 3px solid #3697d1;
}

@media (max-width: 600px) {
    .sectionHeading {
      font-size: 107%;
    }
  }